<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Empathy Totems</title>
  <link rel="stylesheet" href="css/app.css" />
  <script src="bower_components/modernizr/modernizr.js"></script>
</head>

<body>

  <!-- Top Nav -->
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">Empathy Totems</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>

    <section class="top-bar-section">

      <!-- Left Nav Section -->
      <ul class="left">
        <li><a href="mood-new.html">Enter Mood</a></li>
        <li><a href="history.html">View History</a></li>
      </ul>


      <!-- Right Nav Section -->
      <ul class="right">
        <li class="has-dropdown">
          <a href="#">Luis</a>
          <ul class="dropdown">
            <li><a href="totem-link.html">Link New Totem</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>

    </section>
  </nav>

  <br><br><br>


  <!-- QR Code / Viewfinder -->
  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <h2>QR Code / Viewfinder</h2>
        <h5>This is a regular panel.</h5>
        <p>It has an easy to override visual style, and is appropriately subdued.</p>
      </div>
    </div>
  </div>

  <!-- Totem Info -->
  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <h2>Totem Info</h2>
        <h5>This is a regular panel.</h5>
        <p>It has an easy to override visual style, and is appropriately subdued.</p>
      </div>
    </div>
  </div>


  <!-- Confirm Input -->
  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <h2>Confirm Input</h2>
        <h5>This is a regular panel.</h5>
        <p>It has an easy to override visual style, and is appropriately subdued.</p>
      </div>
    </div>
  </div>


  <!-- View Linked Totems -->
  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <h2>View Linked Totems</h2>
        <h5>This is a regular panel.</h5>
        <p>It has an easy to override visual style, and is appropriately subdued.</p>
      </div>
    </div>
  </div>





  <script src="bower_components/jquery/jquery.js"></script>
  <script src="bower_components/foundation/js/foundation.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
