// Empathy Totems
// custom scss

//////////
// BASE //
//////////

body,h1,h2,h3,h4,h5,h6,p,a {
  color: #ecf0f1;
}

a {
  color: #bdc3c7;
}

a:hover {
  color: #ecf0f1;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
}

h2 {
 padding-top: 30px;
}

h5 {
  font-weight: 500;
  font-size: 1.5em;
  padding-bottom: 30px;
}

li {
  list-style: none;
}


//////////
// GRID //
//////////

section {
  @include row();
}

article {
  @include column(10, 'center');
}

aside {
  @include column(4);
}

////////////
// LAYOUT //
////////////

.wrapper {
  // background-color: gray;
}

.intro-container {
  @include background-image(linear-gradient(#9b59b6,#8e44ad));
  min-height: 100%;
  position: relative;

}

.about-container {
  @include background-image(linear-gradient(#e67e22,#d35400));
  min-height: 100%;
  position: relative;
}

.features-container {
  @include background-image(linear-gradient(#3498db,#2980b9));
  min-height: 100%;
  position: relative;
}


.footer-container {
  background-color: #34495e;
  cursor: default;
}


/////////
// NAV //
/////////

#global-nav {
  margin-bottom: 0;
  background-color: #9b59b6;
}

///////////
// INTRO //
///////////


#intro {
  text-align: center;

  a {
    font-size: $large;
  }
  i {
    padding-top: 30px;
  }
}

.intro-text {
  // margin-top: 80px;

  h1 {
    font-size: 9em;
    font-family: $mathlete;
    padding-bottom: 0px;
  }

  h4 {
    font-family: $rambla !important;
    margin-top: -30px;

  }
}

.intro-headline {
  h4 {
    font-size: 2.6em;
  }
}

.intro-action {
  padding: 30px 0 30px 0;
  margin-top: 360px;
}


///////////
// ABOUT //
///////////

#about {
  min-height: 768px;

  h2 {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
  }

  li {
    font-size: 1.2em;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
  }
}


//////////////
// FEATURES //
//////////////

#features {
  min-height: 768px;
  text-align: center;

  i {
    display: block;
  }

  li {
    padding-top: 30px;
  }

  p {
    text-align: left;
  }

}

////////////
// FOOTER //
////////////

#footer {

  h6 {
    font-family: $mathlete;
    font-size: 1.9em;
  }

  li {
    text-align: center;
    display: inline;
  }

}



///////////
// HACKS //
///////////


.example-grid .parallax {
  width: 100%;
  height: 300px;
  background-image: url(file:///Users/lcielak/Dropbox/projects/2013/EMTO_empathy-totems/code/src/EmpathyTotems/emto-web/img/totem_02.jpg);
  // background-image: url(../img/totem_01.jpg);
}


.parallax {
  // background-attachment: scroll !important;
  // background-attachment: fixed !important;
}

.parallax-image {
  // @include column(10);
}


#flexible {
  background: url(../img/bg_phone.png) no-repeat right bottom;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}



@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin animation($animation) {
  -webkit-animation: #{$animation};
  -moz-animation: #{$animation};
  -ms-animation: #{$animation};
  animation: #{$animation};
}
@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  transform: $transform;
}

@include keyframes(bounce) {
  0%, 20%, 50%, 80%, 100% {
    @include transform(translateY(0));
  }
  40% {
    @include transform(translateY(-30px));
  }
  60% {
    @include transform(translateY(-15px));
  }
}


.arrow {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left:-20px;
  width: 40px;
  height: 40px;
  background-size: contain;
  font-size: 1.8em;
}

.bounce {
  @include animation(bounce 10s infinite);
}
