// Empathy Totems
// custom scss

////////////
// COLORS //
////////////

$turquoise:     #1abc9c;
$green-sea:     #16a085;

$emerald:      #2ecc71;
$nephritis:     #27ae60;

$peter-river:   #3498db;
$belize-hole:   #2980b9;

$amethyst:      #9b59b6;
$wisteria:      #8e44ad;

$wet-asphalt:   #34495e;
$midnight-blue: #2c3e50;

$sun-flower:    #f1c40f;
$orange:        #f39c12;

$carrot:        #e67e22;
$pumpkin:       #d35400;

$alizarin:      #e74c3c;
$pomegranate:   #c0392b;

$clouds:        #ecf0f1;
$silver:        #bdc3c7;

$concrete:      #95a5a6;
$asbestos:      #7f8c8d;





//////////
// BASE //
//////////

body,h1,h2,h3,h4,h5,h6,p,a {
  // color: $clouds;
}

body {
  // background: $carrot;
}

a {
  // color: $silver;
}

a:hover {
  // color: $clouds;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
}

h2 {
 padding-top: 30px;
}

h5 {
  font-weight: 500;
  font-size: 1.5em;
  padding-bottom: 30px;
}

li {
  // list-style: none;
}


//////////
// GRID //
//////////

section {
  @include row();
}

article {
  @include column(10, 'center');
}

aside {
  @include column(4);
}

////////////
// LAYOUT //
////////////

.wrapper {
  // background-color: gray;
}

.intro-container {
  @include background-image(linear-gradient($amethyst,$wisteria));
  min-height: 100%;
  position: relative;

}

.about-container {
  @include background-image(linear-gradient($carrot,$pumpkin));
  min-height: 100%;
  position: relative;
}

.features-container {
  @include background-image(linear-gradient($peter-river,$belize-hole));
  min-height: 100%;
  position: relative;
}


.footer-container {
  background-color: $wet-asphalt;
  cursor: default;
}


/////////
// NAV //
/////////

#navbar-main-nav {
  margin-bottom: 0;
  background-color: $amethyst;
}

///////////
// INTRO //
///////////


#intro {
  text-align: center;

  a {
    font-size: $large;
  }
  i {
    padding-top: 30px;
  }
}

.intro-text {
  // margin-top: 80px;

  h1 {
    font-size: 9em;
    font-family: $mathlete;
    padding-bottom: 0px;
  }

  h4 {
    font-family: $rambla !important;
    margin-top: -30px;

  }
}

.intro-headline {
  h4 {
    font-size: 2.6em;
  }
}

.intro-action {
  padding: 30px 0 30px 0;
  margin-top: 360px;
}


///////////
// ABOUT //
///////////

#about {
  min-height: 768px;

  h2 {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
  }

  li {
    font-size: 1.2em;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
  }
}


//////////////
// FEATURES //
//////////////

#features {
  min-height: 768px;
  text-align: center;
  padding-bottom: 4em;

  i {
    display: block;
    font-size: $xlarge;
    padding-bottom: 20px;
  }

  li {
    padding-top: 4em;
    padding-bottom: 2em;
    font-size: $large;

  }

  p {
    text-align: left;
  }

}

////////////
// FOOTER //
////////////

#footer {

  h6 {
    font-family: $mathlete;
    font-size: 1.9em;
  }

  li {
    text-align: center;
    display: inline;
  }

}




///////////////
// ANIMATION //
///////////////


@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin animation($animation) {
  -webkit-animation: #{$animation};
  -moz-animation: #{$animation};
  -ms-animation: #{$animation};
  animation: #{$animation};
}
@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  transform: $transform;
}

@include keyframes(bounce) {
  0%, 20%, 50%, 80%, 100% {
    @include transform(translateY(0));
  }
  40% {
    @include transform(translateY(-30px));
  }
  60% {
    @include transform(translateY(-15px));
  }
}


.bounce {
  @include animation(bounce 10s infinite);
}



///////////
// HACKS //
///////////


.example-grid .parallax {
  width: 100%;
  height: 300px;
  background-image: url(../img/totem_02.jpg);
}


#flexible {
  background: url(../img/bg_phone.png) no-repeat right bottom;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.arrow {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left:-20px;
  width: 40px;
  height: 40px;
  background-size: contain;
  font-size: 1.8em;
}

/* Big triangle with shadow */

#trianglePath1 {
  fill: $wisteria;
  stroke: $wisteria;
}

#trianglePath2 {
  fill: darken($wisteria,10%);
  stroke: darken($wisteria,10%);
}


.diagram-system {
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 0.8;
}

