/* Fonts */

// Import Google Web Fonts
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);


// Set local icon font
@font-face {
  font-family: '#{$icons}';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/icons/#{$icons}.eot);
  src: url('../fonts/icons/#{$icons}.eot?#iefix') format('ie9-skip-eot'),
       url('../fonts/icons/#{$icons}.woff') format('woff'),
       url('../fonts/icons/#{$icons}.ttf')  format('truetype');
}


// Mathlete
@font-face {
  font-family: '#{$mathlete}';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/mathlete/#{$mathlete}.eot);
  src: url('../fonts/mathlete/#{$mathlete}.eot?#iefix') format('ie9-skip-eot'),
       url('../fonts/mathlete/#{$mathlete}.woff') format('woff'),
       url('../fonts/mathlete/#{$mathlete}.ttf')  format('truetype');
}


// Rambla
@font-face {
  font-family: '#{$rambla}';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rambla/#{$rambla}.eot);
  src: url('../fonts/rambla/#{$rambla}.eot?#iefix') format('ie9-skip-eot'),
       url('../fonts/rambla/#{$rambla}.woff') format('woff'),
       url('../fonts/rambla/#{$rambla}.ttf')  format('truetype');
}


// @font-face {
//     font-family: 'open_sansregular';
//     src: url('../fonts/open-sans/OpenSans-Regular-webfont.eot');
//     src: url('../fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/open-sans/OpenSans-Regular-webfont.woff') format('woff'),
//          url('../fonts/open-sans/OpenSans-Regular-webfont.ttf') format('truetype'),
//          url('../fonts/open-sans/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
//     font-weight: normal;
//     font-style: normal;

// }



// // Open Sans
@font-face {
  font-family: '#{$open_sansregular}';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/open-sans/#{$open_sansregular}.eot);
  src: url('../fonts/open-sans/#{$open_sansregular}.eot?#iefix') format('ie9-skip-eot'),
       url('../fonts/open-sans/#{$open_sansregular}.woff') format('woff'),
       url('../fonts/open-sans/#{$open_sansregular}.ttf')  format('truetype');
}

