/* Fonts */

// Set local icon font
@font-face {
  font-family: '#{$icons}';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/icons/#{$icons}.eot);
  src: url('../fonts/icons/#{$icons}.eot?#iefix') format('ie9-skip-eot'),
       url('../fonts/icons/#{$icons}.woff') format('woff'),
       url('../fonts/icons/#{$icons}.ttf')  format('truetype');
}


// Mathlete
@font-face {
  font-family: '#{$mathlete}';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/mathlete/#{$mathlete}.eot);
  src: url('../fonts/mathlete/#{$mathlete}.eot?#iefix') format('ie9-skip-eot'),
       url('../fonts/mathlete/#{$mathlete}.woff') format('woff'),
       url('../fonts/mathlete/#{$mathlete}.ttf')  format('truetype');
}


// Rambla
@font-face {
  font-family: '#{$rambla}';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rambla/#{$rambla}.eot);
  src: url('../fonts/rambla/#{$rambla}.eot?#iefix') format('ie9-skip-eot'),
       url('../fonts/rambla/#{$rambla}.woff') format('woff'),
       url('../fonts/rambla/#{$rambla}.ttf')  format('truetype');
}
