/* Fonts */

// Import Google Web Fonts
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);


// Set local icon font
@font-face {
  font-family: '#{$icons}';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/icons/#{$icons}.eot);
  src: url('../fonts/icons/#{$icons}.eot?#iefix') format('ie9-skip-eot'),
       url('../fonts/icons/#{$icons}.woff') format('woff'),
       url('../fonts/icons/#{$icons}.ttf')  format('truetype');
}


// Mathlete
@font-face {
  font-family: '#{$mathlete}';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/mathlete/#{$mathlete}.eot);
  src: url('../fonts/mathlete/#{$mathlete}.eot?#iefix') format('ie9-skip-eot'),
       url('../fonts/mathlete/#{$mathlete}.woff') format('woff'),
       url('../fonts/mathlete/#{$mathlete}.ttf')  format('truetype');
}


// Rambla
@font-face {
  font-family: '#{$rambla}';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rambla/#{$rambla}.eot);
  src: url('../fonts/rambla/#{$rambla}.eot?#iefix') format('ie9-skip-eot'),
       url('../fonts/rambla/#{$rambla}.woff') format('woff'),
       url('../fonts/rambla/#{$rambla}.ttf')  format('truetype');
}


// // Open Sans
// @font-face {
//   font-family: '#{$open-sans}';
//   font-style: normal;
//   font-weight: 400;
//   src: url(../fonts/open-sans/#{$open-sans}.eot);
//   src: url('../fonts/open-sans/#{$open-sans}.eot?#iefix') format('ie9-skip-eot'),
//        url('../fonts/open-sans/#{$open-sans}.woff') format('woff'),
//        url('../fonts/open-sans/#{$open-sans}.ttf')  format('truetype');
// }

